* {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #aaacaf;
    max-height: 100vh;
    height: 100%;
}
.home-container {   
  
    max-height: calc(70vh - 150px);
    margin-bottom: 20px;
       
}
.footer{
    display:flex; 
    align-items:center;
    justify-content: center;
}

.custom-navbar{
    color:#a855f7;
    text-decoration: none;
}
.custom-navbar:active{
    text-decoration: none;
}
.custom-navbar:hover{
    text-decoration: none;
}

.footer a{
    text-decoration: none;
    color:#a855f7;
    font-size: 20px;
}