.sidebar {
    width: 90%; 
    max-width: 300px; 
    border-radius: 10px;
    height: 500px; 
    overflow: hidden;  
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.5), 
        0 0 20px rgba(186, 104, 200, 0.4), 
        0 0 40px rgba(155, 89, 182, 0.2); 
    
    border: 1px solid rgba(155, 89, 182, 0.3); 
    transition: all 0.4s ease;
}


